/* 

green #4CAF50
light green #4dcb4d
light black #595959 

*/

body{
	background-color: #f2f2f2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #595959;
}


li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-family: "Arial";
    text-decoration: none;
    float: left;
    background-color: #595959;
    list-style-type: none;
}

li a:hover:not(.active) {
    background-color: #4dcb4d;
    color: white;
    list-style-type: none;
}

li a.active {
    color: white;
    background-color: #4CAF50;
    list-style-type: none;
}

#contact {
	float: right;
}



/* Home page */




#heading{
	font-size: 40px;
	color: #4CAF50;
	margin-left: 350px;
}

#heading2{
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	font-family: "helvetica";
	color: #595959 ;
	margin-left: 350px;
}

#details{
	color: #595959 ;
	font-size: 18px;
	font-family: "helvetica";
	margin-left: 350px;
}

#dp {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    float: left;
}




/*Skills and Interests page*/

  #skill {
    font-size: 18px;

    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: auto;
  }

  #skill td, #skill th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #skill tr:nth-child(even){background-color: #e6e6ff;}

  #skill tr:hover {background-color: #bfbfbf;}

  #skill th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }



  #education {
    font-size: 18px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: auto;
  }

  #education td, #education th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #education tr:nth-child(even){background-color: #e6e6ff;}

  #education tr:hover {background-color: #bfbfbf;}

  #education th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }


#eheading{
	font-size: 35px;
	color: #595959;
	text-align: center;
  font-weight: bold;
}

#eheading2{
	font-size: 23px;
	font-weight: bold;
	font-family: helvetica;
	color: #595959 ;
	margin-left: 50px;
}

#edetails{
	font-size: 20px;
	font-family: helvetica;
	margin-left: 300px;
	color: #595959 ;
}





/* Profile page */

.button {
    background-color: #3385ff ;
    border: none;
    border-radius: 6%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    font-family: "helvetica";
    font-weight: bold;
}

#logo {
    width: 82px;
    height: 82px;
    float: left;
    margin-left: 40%;
}



/* Gallery page */



* {
  box-sizing: border-box;
}

.container {
  position: relative;
}

.mySlides {
  display: none;
  padding-left: 25%;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 70%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #4CAF50;
}

.caption-container {
  text-align: center;
  background-color: #4CAF50;
  padding: 1px;
  color: white;
  font-family: "helvetica";
  font-weight: bold;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

li {
    list-style-type: none;
}